.DS_STORE
Thumbs.db
/.vagrant/*
./src/yarn.lock

/public/css/*

laravel_project/node_modules/
laravel_project/vendor/
laravel_project/public/css/
laravel_project/public/fonts/
laravel_project/\.env

laravel_project/composer\.lock

laravel_project/package-lock\.json

laravel_project/yarn\.lock

laravel_project/storage/logs/*
laravel_project/storage/framework/cache/*
laravel_project/storage/framework/sessions/*
laravel_project/storage/framework/testing/*
laravel_project/storage/framework/views/*
laravel_project/storage/app/*
laravel_project/public/js/


laravel_project/public/mix-manifest\.json