// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
.vertical-middle-container {
    display: flex;
    align-items: center;
    align: center;
}

.vue-component-root {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0;
}