// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

$vue-component-border-color: rgba(64, 79, 249, 0.72941);
$vue-component-background-color: rgba(0, 126, 255, 0.10196078431372549);
.vertical-middle-container {
    display: flex;
    align-items: center;
    align: center;
}

.vue-component-root {
    border: 2px solid $vue-component-border-color;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background:$vue-component-background-color;
}