// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// @import '~@fortawesome/fontawesome';
// @import '~@fortawesome/fontawesome-free-solid';


// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Navbar fix, add padding to the body to prevent overlap
body {
    padding-top: 60px;
}

#container {
    margin: 0 auto 0 auto;
    z-index: -1;
    height: 100%;
    min-height:600px;
    padding:0;
}